[2019-03-23 14:38] R0Wi opened #1 "VR180 file format & VR toggle support?"
Great app, thanks for creating this.

Would be nice if the new VR180 format would be supported (as used by the Lenovo Daydream camera), and ideally also to have a VR toggle to look at VR and 360° photos that way.

It seems like the new v4 version of the library used is supporting some of this:
https://photo-sphere-viewer.js.org/v4/

Thanks for considering!

(NOTE:: this issue was moved from [https

[2019-03-23 14:41] R0Wi opened #2 "Can't display sphere when clicking on a thumbnail"
The app works great when I open the photo from the file manager or the list view in the gallery. However when I click on the thumbnail in the gallery it opens the normal gallery viewer instead of the photo sphere viewer.
Is this fixable?

(NOTE :: this issue was moved from [https://github.com/R0Wi/Nextcloud-PhotoSphereViewer/issues/2]())

[2019-03-23 14:47] R0Wi opened #3 "Add support for partial panoramas"
For example when zenith and nadir is missing or for panoramas which are stitched together of only a few images, like 120°x90°

(NOTE :: this issue was moved from [https://github.com/R0Wi/Nextcloud-PhotoSphereViewer/issues/3]())

[2019-03-23 14:49] R0Wi opened #4 "Remove PANO_ prefix"
Use exiftool instead to recognize a panorama.

Read the value "XMP/ProjectionType", if it is "equirectangular" then display use the panoramaviewer.

Like QuickPic for Android is doing: https://play.google.com/store/apps/details?id=com.photography.gallery

(NOTE :: this issue was moved from [https://github.com/R0Wi/Nextcloud-PhotoSphereViewer/issues/4]() )

[2019-03-25 07:14] R0Wi opened #5 "Improve the way to determine if the image is a PANO"
Currently the app only shows the viewer if the image-name is prefixed with "PANO_". Remove this limitation and provide a way to efficiently read the xmp-data of a file.

This will remove to limitations:

- Files need not to have any special filename

- The image won't be loaded twice. (Currently pano-images are loaded twice by the browser. The first time to read the xmp-data, the second time to sh

[2019-03-25 07:15] R0Wi commented on #4
Moved to #5

[2019-03-25 07:15] #4 closed

[2019-03-31 15:41] SudoHenk opened #6 "Add support for shared photospheres"
Instead of showing the plain image, we should use the photosphere viewer on images that were shared and are in fact a panorama.

I've been fiddling around with this last week, but wasn't really satisifed with the end result. It is possible to make the endpoint public, and pass the sharing token to request the image. However, nextcloud will display the header as if you were just logged in (with fil

[2019-04-17 12:42] avanc commented on #6
This feature would be great.

[2019-04-26 22:24] Ludovicis opened #7 "Not compatible with Nextcloud 16"

[2019-04-27 23:41] SudoHenk commented on #7
@Ludovicis fixed just now.

[2019-04-27 23:56] SudoHenk commented on #2
I don't think this can be done without modifying the gallery app itself. There are no hooks available in the gallery app (https://github.com/nextcloud/gallery/search?q=dispatch&unscoped_q=dispatch results in no internal event dispatches).

[2019-04-28 12:46] SudoHenk commented on #6
This is in the release now.

[2019-04-28 12:46] #6 closed

[2019-04-29 06:59] Ludovicis commented on #7
Thanks SudoHenk but with the files_photospheres 0.0.3 and Nextcloud 16.0.0;
the application is not displayed in the menu and when I click on a PANO file ... it's just the viewer of nextcloud that appears. Not the 360 degree pictures.

[2019-05-01 18:42] jkoopmann opened #8 "Not working with 2FA and/or sharing"
Hi,

I have 2FA enabled. When I click on a PANO_.jpg the viewer opens but asks for my credentals. If I enter username/password I get "Cannot load image" instead of getting the 2FA question. Why is it asking for access credentials anyways?

If I share a folder and access the folder via the link and click on the PANO_.jpg I only get the Nextcloud viewer.

[2019-05-05 08:54] R0Wi commented on #8
Hi @jkoopmann ,

which version of nextcloud do you use?

[2019-05-05 13:03] jkoopmann commented on #8
15.0.7

[2019-05-08 15:50] R0Wi commented on #8
Thats strange, i actually can't reproduce the mentioned behaviour. I tested it with the "Two-Factor TOTP Provider"-App. Which one do you use?
I logged into my NC instance by username and password, then i provided the second factor (code) by opening the TOTP-App on my android-smartphone. After that i've been successfully logged in and i was able to open an "PANO_..."-image in the viewer without any

[2019-05-09 15:27] TheNetStriker commented on #7
I have the same problem with Nextcloud 16.

[2019-05-14 18:50] cratoo commented on #8
@R0Wi did you note "share a folder"? If I share a single picture it works perfectly, if I share a whole folder, the PANO_ images dont show up as photospheres but in the usual gallery app.

[2019-05-17 09:58] jkoopmann commented on #8
Just switched to NC16 and hence cannot test... Will the plugin be available for NC16?

[2019-05-17 10:27] R0Wi commented on #8
We're actually working on that. Please refer to https://github.com/nextcloud/files_photospheres/issues/7 for further information.

[2019-05-18 11:41] R0Wi commented on #7
Ok, it seems like it has something to do with the new "Viewer-App", which was introduced in NC16. If i disable this app, it's working again. So as a workaround for the moment you could do the same, i'll keep you up-to-date.

[2019-05-21 23:54] TheNetStriker opened #10 "Support for 360 video"
There are a lot of javascript libraries that are able play 360 videos. Here are just a few examples:

https://github.com/thiagopnts/clappr-video360
http://www.marzipano.net/
https://github.com/videojs/videojs-vr
https://github.com/yanwsh/videojs-panorama

Are there any plans to add support for 360 video playback?

[2019-05-22 04:17] R0Wi commented on #10
Sounds like an interesting idea. Do you know, where we can get some example 360 videos for playing around with this?

[2019-05-22 08:34] TheNetStriker commented on #10
Here is e.g. the sample video from the Marzipano demo. (Copied from the html source code)

https://www.marzipano.net/media/video/mercedes-f1-1280x640.mp4

There should be also many other examples that can be downloaded if you search on Google. I myself have a Samsung Gear360 and an Insta360 One X camera to test this.

The question is which library would be best suited for this plugin. I myself onl

[2019-05-23 13:59] TheNetStriker opened #11 "Buttons to switch to next/previous photosphere"
It would be great to have buttons to switch to next/previous photosphere in the current folder just like in the gallery app. Is something like this planed for this app?

[2019-05-23 14:43] R0Wi commented on #11
Well this would really be a nice feature. At the moment, when clicking on an image there is a little serverside-check if the image is a pano-image or not (this is determined by looking for the xmp-data in the image-file).

If we would like to implement the mentioned feature, we'd have to know which images in the current folder are panos and which aren't. I don't think we can iterate through all im

[2019-06-09 12:05] robertsozolins opened #12 "nextcloud 16, aplication icon doesn't show up"
Running nextcloud 16, aplication icon doesn't show up up in the Menubar.

[2019-06-09 21:30] Nebucatnetzer commented on #7
I can confirm this on the official docker setup.

[2019-06-16 14:31] R0Wi commented on #12
Hi @robertsozolins ,

yes that's right, we decided to remove the icon in the current version, because we use an modal overlay to display the photospere images. In the old version this was slightly different, there we navigated to a new page an therefore needed the icon.

if you're ok with that, i would close this issue?

[2019-06-16 14:31] #12 closed

[2019-06-16 17:00] j-ed commented on #5
@R0Wi Is there a way to check the result of the new server-side check? I've selected a pano image taken with a Galaxy S7 phone but I couldn't see any differences how the image is displayed, compared to other e.g. jpg images.

[2019-06-16 20:29] R0Wi commented on #5
@j-ed if you open the network-tab from your devtools there should be a request like "<YOUR_NC_BASE_URL>/index.php/apps/files_photospheres/files/xmpdata/<FILE_ID>" after clicking on an jpg-image. This request checks whether the image is a regular jpg file or if it contains xmp-data and therefore decides, if the pano viewer or the default viewer for images will be opened.

If you use NC16 please als

[2019-06-16 20:51] Sanookmakmak opened #13 "Version 1.01 not working"
See: https://help.nextcloud.com/t/how-should-the-photosphereviewer-work/54690/2

[2019-06-17 04:14] R0Wi commented on #13
Could this be the same problem described in #7?

[2019-06-17 08:05] j-ed commented on #5
@R0Wi Thank you. Unfortunately I could find the mentioned request in the network-tab of my browser devtools, nor am I able to view a panorama image in NC 16.0.1 although I've deactivated the viewer app (only the image download is possible). So I will wait some more time until the viewer integration has been finished.

[2019-06-17 09:06] R0Wi commented on #5
Okay that's strange. If you can't see the request i mentioned, it means that the clickhandler is not executed properly. So the click event is not brought to our clientside code.
Or am i getting you wrong? You CAN'T see the request, right?

[2019-06-17 10:17] j-ed commented on #5
I'm using FF 67.0.2 to access NC 16.0.1. The viewer app has been disabled and the photosphere app enabled. As requested, I've opened the network analysis (Netzwerkanalyse) under the developer tools, before I navigated to the folder containing the panorama image. Once I click on the image, a download dialog is shown instead of a preview. No other image can be viewed either.
Unfortunately I cannot s

[2019-06-17 11:22] R0Wi commented on #5
Ok seems like the clientside scripts are not injected properly in your instance. I've tested it with the current version (1.0.1) and FF 67.0.2 and i can see at least 2 js-files in the sources tab.
![tmp](https://user-images.githubusercontent.com/19730957/59600893-cc983500-9102-11e9-971e-875e3007d1cf.png)

I believe you can't see them, right? Could you have a look at your NC-error log ?

[2019-06-17 11:38] j-ed commented on #5
Ok, I can confirm that these two js-files are loaded:

![grafik](https://user-images.githubusercontent.com/2572764/59601351-07e73380-9104-11e9-85c1-fd57e29f0016.png)

The NC log file doesn't show any related entries and this is the download dialog which is shown when clicking on a pano image:

![grafik](https://user-images.githubusercontent.com/2572764/59601680-0bc78580-9105-11e9-9bb3-2d9512426df6

[2019-06-18 05:05] R0Wi commented on #5
Ok at least the clientside js-files are there. Seems like the click-handler is not working properly for you.

Could you just try to enable the "Gallery"-app, so that at least the "normal" jpg-files are opened there? Could be that there is a problem if there's no filehandler registered for jpg-files.

[2019-06-18 06:13] j-ed commented on #5
Good news, as soon as I reactivate the Gallery app (the Viewer app is still disabled) I can view all kind of images, Normal 2d-panorama images are displayed as normal jpg files and, **3d-panorama** images are shown correctly by your Photo Sphere app now.
I think you should point-out, that the app is only used 3d-panorama images, not normal ones. I ran into that trap too, at the beginning.

[2019-06-18 12:36] R0Wi commented on #5
Nice to hear, so if i get you right it could be a bug: when the viewer-app is disabled and the gallery-app is also disabled the photosphere-viewer doesn't work correctly. So i will check that an give you a quick response.

Refering to you 2d/3d-images: we only provide a integration of the photosphere-viewer.js library, so capabillities are limited to that library. We except the files to contain va

[2019-06-18 13:57] j-ed commented on #5
On a Samsung Galaxy S7, you can choose between two different panorama functions, (1) allows to take 2d-panorama images by e.g. moving the camera from left to right etc., or 3d-panorama images by navigating to specific points in a 3d-sphere. At the beginning I thought both of these panorama images would be supported. No I learned that only the second one is supported 😉

![grafik](https://user-image

[2019-06-18 14:50] R0Wi commented on #5
Ah i see, this is indeed misleading :-)

[2019-06-19 17:12] robertsozolins commented on #12
go for it )

[2019-06-20 04:55] Chillstice opened #14 "App Breaks Share Links"
When a user generates a share link for a file after the v1.0.1 update, anyone that tries going to that link - for any file type - will receive an 'Internal Server Error' landing page.

The following error will also get logged:
`
Error: Class 'OCA\Files_PhotoSpheres\AppInfo\Util' not found
`

Disabling the app will return normal functionality.

[2019-06-20 10:38] R0Wi commented on #14
Thanks for reporting. I can confirm this issue and will have a look at it .

[2019-06-20 10:57] R0Wi opened #15 "App does not work without Gallery-App"
It seems like deactivating the Gallery-App breaks this app. See #5 for details.

[2019-06-20 10:57] R0Wi commented on #5
Moved bug to #15

[2019-06-20 10:57] #5 closed

[2019-06-20 14:15] R0Wi commented on #14
@Chillstice would you please clone the https://github.com/nextcloud/files_photospheres/tree/bugfix_share_links branch and check, if i fixed the problem there?

[2019-06-20 14:46] R0Wi commented on #15
When deactivating the Gallery-App, the registration of the click-handler
`
OCA.Files.fileActions.registerAction
`
still works, but it doesn't get invoked by the framework anymore.

[2019-06-21 13:52] TheNetStriker commented on #13
I've also updated to 1.0.1 and disabled the viewer app, but the photo sphere viewer is still not working. I also found no infos in the log regarding the problem. Any ideas what could cause the problem?

[2019-06-21 13:56] R0Wi commented on #13
Did you enable the "Gallery-App"? See #15

[2019-06-21 15:49] TheNetStriker commented on #13
Yes the Gallery app is enabled. If I click on a PANO_ image the image is opened in the Gallery app instead of the Panorama app.

[2019-06-21 16:21] R0Wi commented on #13
Do you see anything in the devtools console? Are the photosphere scrips loaded properly (see https://github.com/nextcloud/files_photospheres/issues/5#issuecomment-502642566)?

[2019-06-22 11:30] R0Wi commented on #7
@Ludovicis , @TheNetStriker , @Nebucatnetzer would you like to test the compatibility with the viewer-app now? Its acually on branch feature-viewer-integration

[2019-06-23 15:52] Nebucatnetzer commented on #7
It's working on my system.

[2019-06-26 08:16] Ludovicis commented on #7
Hi R0Wi, it's work also, thanks.
But the loading time of the image is longer than previous versions. And this is now fully displayed on the page and we no longer have access to the icons (Menu) of nextcloud.

[2019-06-26 09:11] R0Wi commented on #7
Thank's for you feedback.

@Ludovicis could you check your devtools network tab and see, which request(s) are long runninig? Does this behaviour only take place on shared view or also on "normal" user view?

[2019-06-26 10:18] TheNetStriker commented on #13
@R0Wi I've just tested this. Both .js files are loaded in the devconsole, but I cannot see the request for xmp data. I've tried with the gallery app only, with the viewer app only and with both apps enabled. What could be the problem?

[2019-06-26 11:53] Ludovicis commented on #7
When I click on a 360 image, i have 127 requests and 6.3Mb transfer. Too difficult to see which longer queries are... Sorry
When i do manually without nextcloud "https://my.nextcloud.com/apps/files_photospheres?url=%2Fremote.php%2Fwebdav%2F%2FPANO_demo9_full.jpg&filename=PANO_demo9_full.jpg&full_width=7680&full_height=3840&cropped_width=7680&cropped_height=3288&cropped_x=0&cropped_y=0",
it is fast

[2019-06-26 12:10] R0Wi commented on #13
Ok seems like the xmp-data-check works just fine. This means that your image has no xmp-data stored in it. Is it possible that you post your image here, so that i can analyze it?

[2019-06-26 12:11] R0Wi commented on #7
Could you sort the requests by size and see, if your image may be loaded twice? Whats the size of your image on its own?

[2019-06-26 13:15] Ludovicis commented on #7
The size of my image is 1.8MB, you can find image here https://blog.ipsofactory.it/photosphere-lo-sguardo-app/
I thin than my image ist not loaded twice.

[2019-06-26 17:59] R0Wi commented on #7
Sounds strange to my ears. If you have the image with 1.8MB and the total payload of the site is above 6 MB there's something going on ;-)
Whats the payload sum if you directly navigate to the image via the link you provided to us?

[2019-06-26 18:27] TheNetStriker commented on #13
I just found out that the problem only occurs on photos from my older Samsung Gear 360 camera. The photos from the Insta360 camera are working. The Gear 360 also contains XMP data, but I guess they provide different infos than the Insta360. I've uploaded an empty photo from my Gear 360 camera to my dropbox: https://www.dropbox.com/s/yv50li7lwq17tow/360_0412_Stitch_YHC.JPG?dl=0

[2019-06-26 18:40] R0Wi commented on #13
Thanks for providing the image. Seems like the xmp-data-block is present but there is information missing, which is obligatory for the viewer. Actually the viewer expects the following GPano-Data inside the xmp-block:

FullPanoWidthPixels
FullPanoHeightPixels
CroppedAreaImageWidthPixels
CroppedAreaImageHeightPixels
CroppedAreaLeftPixels
CroppedAreaTopPixels

If none of these are set, the viewer wi

[2019-06-26 18:47] #14 closed

[2019-06-28 11:20] SudoHenk commented on #15
This behaviour is indeed quite strange, as if the Gallery app provides the onclick listener in the file browser.

If you enable "Viewer" or the "Gallery", the registration listener works, if you disable them both it doesn't work.

[2019-06-28 11:24] SudoHenk commented on #11
AFAIK these are the possible solutions:

1. We use the client's knowledge of the fileList of the current directory to cycle through the next files and check if they are indeed photospheres (not so nice solution).
2. Instead of reading the XMP data based on the client's request, we could also register server-side checks for new files being stored, check if these files have XMP tags and store this i

[2019-06-28 11:33] SudoHenk commented on #8
I also cannot reproduce the 2FA request dialog. I will close the issue for now, please report back if you encounter this again.

Sharing a folder and then opening the photosphere viewer is not supported as of yet.

[2019-06-28 11:33] #8 closed

[2019-06-28 11:35] SudoHenk commented on #7
I've just commited a fix for compatibility with the "Viewer" app. It had to do with the way it registers it handler (uppercase/lowercase with compared to the gallery app).

[2019-06-28 11:41] R0Wi opened #17 "Support Foldershare"
In NC it's not only possible to share single files but also folders. Currently, when clicking on a photosphere-image in the sahred-folder-view this opens the  default image-viewer. We should support this view, too.

[2019-06-28 11:42] R0Wi commented on #8
Just a note on this: i couldn't reproduce the issue neither. The folder-share stuff has moved to #17, i am working on this feature.

[2019-06-28 11:43] R0Wi commented on #7
Where did you commit the changes? Because i already fixed the compatibility problem with viewer in
bb50774

[2019-06-28 12:06] SudoHenk commented on #7
Ah, you're working in a feature branch! I've pushed my fix alongside some README changes into master. The fix seem to be roughly the same? I guess merging won't be a problem as you can just accept your fix as the head.

[2019-06-28 13:56] R0Wi commented on #17
The problem here ist, that the initial click-handler gets overwritten in the public-view by this line:
`
OCA.Files.fileActions = fileActions;
`
in the file_sharing app (file_sharing/js/public.js at Line 47)

[2019-06-29 07:47] Sanookmakmak commented on #13
I have set those XMP-parameters, as well as

* ProjectionType = equirectangular
* UsePanoramaViewer = True

I have installed Nextcloud 16.01, Gallery-App 18.3.0 and PhotoSphereViewer 1.0.2. The "Viewer" App 1.0 is disabled and deleted.

But the PhotoSphereViewer does **not** display the panorama as photosphere. It is not renamed to PANO_xyz.jpg anymore.

Here is an example panorama, 360x180°, whic

[2019-06-29 08:08] Sanookmakmak commented on #13
BTW: PhotoSphereViewer 1.01 stops sharing folders:

https://help.nextcloud.com/t/how-should-the-photosphereviewer-work/54690/3

[2019-06-29 08:11] R0Wi commented on #13
Thanks for the image, i'll test this soon.

The sharing issue is fixed in version 1.0.2 see #14

[2019-06-29 08:33] Sanookmakmak commented on #13
Here is a workshop how to add XMP metadata to make a photo to a photosphere @TheNetStriker:

https://www.allerstorfer.at/photosphere-xmp-metadaten-zu-360-panorama-hinzufuegen/

[2019-07-01 16:40] #7 closed

[2019-07-01 16:44] #15 closed

[2019-07-01 16:44] #17 closed

[2019-07-01 16:49] R0Wi commented on #7
@Ludovicis there has been a problem in the sharing view: the pano images got loaded twice. This should be fixed now, hopefully the app is now running faster while loading the image?

[2019-07-01 17:00] R0Wi commented on #13
@Sanookmakmak you're right, the viewer-component itself is able to display your image. I'll make some adaption to make the app compatible with it.

[2019-07-01 21:47] WNYmathGuy commented on #13
I'm new here. I just tried to use this app today. I didn't know it was available till a few days ago. I'm in Nextcloud 16.0.1 & Photo Sphere Viewer 1.0.2 and I get no reaction when selecting [view in PhotoSphereViewer] for panorama's, semi-spheres or 360 spheres taken with an Android phone. I tried looking at the logs in realtime all levels in an admin window in one browser while trying to view ph

[2019-07-04 20:55] R0Wi commented on #13
Hi @WNYmathGuy, thanks for your feedback. I'm not quite sure what you mean if you say "when selecting [view in PhotoSphereViewer]". Do you mean the context-menu? What happens if you just left-click on the image?

[2019-07-05 15:42] R0Wi opened #20 "Loading spinner"
It would be nice, if there would be a loading spinner for the time the xmp-data-check runs on serverside. So the spinner should be shown after clicking on an jpg-image and should hide, if the servercall returns.

@SudoHenk would that be a task for you?

[2019-07-05 20:50] WNYmathGuy commented on #13
@R0Wi Here are some screenshots and a sample photosphere file.

![Screenshot from 2019-07-05 16-42-18](https://user-images.githubusercontent.com/28640985/60744584-b385e580-9f44-11e9-829f-2b221019320d.png)

![Screenshot from 2019-07-05 16-42-29](https://user-images.githubusercontent.com/28640985/60744587-b680d600-9f44-11e9-8102-75f8f394845b.png)

![Screenshot from 2019-07-05 16-44-27](https://user-

[2019-07-05 21:09] R0Wi commented on #13
Thanks for the material. I didn't manage to get the little contextmenu where it says "Open in PhotosphereViewer" in my NC instance. How did you get that menu?

And what happens if you directly click on an image?

[2019-07-05 21:14] R0Wi commented on #2
I think i would be more interesting to focus on the newer "Viewer-App". As far as i know this will replace the "Gallery-App" in the future.
@skjnldsv is there a chance to get such a hook implemented?

[2019-07-05 21:17] R0Wi commented on #1
Actually the version 4 of the libary is still in beta state. So we won't manage to integrate it at the moment.

[2019-07-05 21:35] WNYmathGuy commented on #13
I have no idea why the "..." tool has that "Open in PhotosphereViewer" in there. I think at one time that tool menu was an option for nextcloud via an app, but they built it into the core. That's based on my old person's memory though.

Clicking directly on an image in grid view opens it in the standard viewer as a rectangle raster. Theirs no context menu while it's in the standard viewer.

Does m

[2019-07-05 21:57] R0Wi commented on #13
I loaded it into my NC test instance and it's opend correctly. But i'm using the new version 1.0.3, which was launched just a few minutes ago. Would you try it with this version and give me some feedback?

[2019-07-05 23:19] WNYmathGuy commented on #13
Oh, damn! That's good! I like the tools at the bottom camouflaged with transparency. Great speed with the photo movement and load time. That option in the "..." tool is gone. To open the photo was either a single click in the grid view or a select in the details view, then a single click on the thumbnail in the Info panel. I love that I can twirl it forever. I assumed that semispheres taken with t

[2019-07-06 06:31] R0Wi commented on #13
Nice to hear, so if i get you right things working now on normal photospheres? :-D

I'll investigate in the image you mentioned and give you a feedback, if this could be shown in the viewer, too.

To exit the app you actually have to press the ESC-key, we're planning to have a little cross at the top right edge in the future.

[2019-07-06 06:39] R0Wi opened #22 "Button for closing the viewer"
It would be nice to have a little cross at the top right corner to close the viewer overlay (see gallery app etc).

@SudoHenk would that be a task for you?

[2019-07-06 06:45] skjnldsv commented on #2
@R0Wi a hook is already there yes :)
Example on the text app: https://github.com/nextcloud/text/blob/a5cf029eb50bde6fb4b3df7db20dc88ca0912da7/src/files.js#L30

[2019-07-06 06:47] skjnldsv commented on #2
Though, we should indeed add some kind of priority or other check (no clue yet) to make sure you can register a second handler on the same mime.
@juliushaertl any idea?

[2019-07-06 08:17] R0Wi commented on #2
@skjnldsv thanks for your feedback. At the moment we solved this problem by registering a handler for the mime "image/jpeg". Then we listen for the "registerAction"- event and overwrite the newly added actionhandler (see https://github.com/nextcloud/files_photospheres/blob/master/js/fileAction.js#L217). But we store the "old" action handler so that if we determine the clicked image isn't a photosp

[2019-07-06 19:44] skjnldsv commented on #2
Well, we could also just detect if the image is a sphere and load a specific view directly on the viewer :wink:

[2019-07-06 22:34] WNYmathGuy commented on #13
@R0Wi I just tried viewing images taken with a Vivitar DVR978HD camera. It's basically two 2K fisheye cameras back to back with hardware stitching. They don't render in the viewer, they just open like an ordinary rectangular photo. Here's one:

![20190620_193953_000](https://user-images.githubusercontent.com/28640985/60761736-712fd780-a01c-11e9-84af-2d2de16cb9fe.JPG)

Is your app just supposed to

[2019-07-06 23:33] WNYmathGuy commented on #13
This could be useless information @R0Wi but on a Ubuntu 18.04 desktop this git project let me view those files properly:
[https://github.com/JeremyHeleine/Photo-Sphere-Viewer](https://github.com/JeremyHeleine/Photo-Sphere-Viewer)

Saw it demo'ed here [https://www.youtube.com/watch?v=jRMLL311Cho](https://www.youtube.com/watch?v=jRMLL311Cho)

![Screenshot from 2019-07-06 19-30-13](https://user-image

[2019-07-07 03:56] Sanookmakmak commented on #13
XMP metadata are missing
* https://developers.google.com/streetview/spherical-metadata
* https://www.facebook.com/notes/eric-cheng/editing-360-photos-injecting-metadata/10156930564975277

[2019-07-07 08:16] R0Wi commented on #13
Could be, that the xmp-data (at least a "GPano"-information) is missing.

Well the whole magic here is to decide, whether the image should be opend in PhotosphereViewer or in regular image viewer. Both are jpeg-files and therefore have the same mimetype. So we have to do a serverside check of the file, after clicking on it. In version 1.0.3 this check at least expects a GPano tag in the metadata.

[2019-07-07 12:42] R0Wi commented on #13
@WNYmathGuy i was able to get it to work. If you'd like to test it you can clone the branch: https://github.com/nextcloud/files_photospheres/tree/feature-improved-xmp into your "files_photospheres"-appfolder

[2019-07-08 18:32] WNYmathGuy commented on #13
I'm a "ya basic" when it comes to git. Do I just navigate to the folder as the Nextcloud admin and run the `git pull` command?

[2019-07-08 19:06] R0Wi commented on #13
I'd suggest you clean the nextcloud/apps/files_photospheres folder. Then navigate into that folder and run
`
git clone https://github.com/nextcloud/files_photospheres.git .
`

[2019-07-08 22:37] WNYmathGuy commented on #13
One minor thing went wrong. I emptied the `nextcloud/apps/files_photospheres` folder. I was in the `nextcloud/apps/files_photospheres` folder with a shell prompt when executing `git clone https://github.com/nextcloud/files_photospheres.git` and what I should have done was deleted the `files_photospheres` folder then ran the command from the `nextcloud/apps` folder. What I did was move the files fr

[2019-07-09 04:16] R0Wi commented on #13
Well the images you provided worked in my NC instance. I never had this strange behaviour that just a blank page was shown :-)

Are there any errors on your browsers devtools console?

[2019-07-09 15:21] WNYmathGuy commented on #13
@R0Wi you sir are talking to a non-web developer. I'm guessing my way through that request though. Here is a screenshot I think may be useful?

![Screenshot from 2019-07-09 10-31-31](https://user-images.githubusercontent.com/28640985/60901237-99e1e800-a23b-11e9-83b8-1919766f810e.png)

[2019-07-09 23:53] WNYmathGuy commented on #13
I upgraded my Nextcloud server and now for some reason the photos load as advertised.

[2019-07-10 04:17] R0Wi commented on #13
@WNYmathGuy it's quite hard to guess, what's gone wrong for you but i think if it's working now it should be fine. To which NC Version did you upgrade?

I'll push the changes into the appstore these days :-)

[2019-07-10 08:40] crossbuilder commented on #13
Here are two files taken with the same cam (DJI).

This one works:
http://z99a.camedel.de/s/HwxQPXfRyyLnc9k
This one does not.
http://z99a.camedel.de/s/sst9jTJQgPLZNFE

I can't see any difference in the tags.
Nextcloud 16.0.3 PhotoSphere 1.0.3

Note: Both links will expire on saturday, so please download if you want to keep the images for testing.

[2019-07-10 11:22] R0Wi opened #23 "Some Images are not working"
Here are two files taken with the same cam (DJI).

This one works:
http://z99a.camedel.de/s/HwxQPXfRyyLnc9k
This one does not.
http://z99a.camedel.de/s/sst9jTJQgPLZNFE

I can't see any difference in the tags.
Nextcloud 16.0.3 PhotoSphere 1.0.3

Note: Both links will expire on saturday, so please download if you want to keep the images for testing.

[2019-07-10 11:22] R0Wi commented on #13
@crossbuilder i moved this to #23. Thanks for your feedback.

[2019-07-10 16:22] WNYmathGuy commented on #13
@R0Wi I upgraded from 16.0.1 to 16.0.3 but I don't think it was the problem because it worked on other devices using the same software prior to the upgrade. Maybe it was a browser cache issue?

[2019-07-10 16:24] WNYmathGuy commented on #23
I tried the links too and as he said, the first worked, the second didn't. F-ing beautiful photo!

[2019-07-10 16:48] R0Wi commented on #23
@crossbuilder i think this will be fixed in version 1.0.4. The images are both working in my NC instance with the app-version 1.0.4 . So i will provide the update as soon as possible.

[2019-07-11 11:16] TheNetStriker commented on #23
I think I have the same problem with version 1.0.3. The images from my Samsung Gear 360 camera are now loaded into the panorama viewer, but it only displays a black image. You can test this with the same example image from the other issue: https://www.dropbox.com/s/yv50li7lwq17tow/360_0412_Stitch_YHC.JPG?dl=0

I found the following errors in the Chrome developer console:

[code]

I will also test

[2019-07-12 07:26] Ludovicis commented on #7
Hello R0Wi, the last version the 1.0.4 is very good. The app is now running faster loading the image. No more problem.

Thanks you very much !

[2019-07-12 07:44] R0Wi commented on #7
Nice to hear, thank you :-) Had some troubles with uploading the new release because the appstore was down but this morning it worked ;-)

[2019-07-12 12:19] crossbuilder commented on #23
Works now!  Thanks!

[2019-07-12 12:44] TheNetStriker commented on #23
I've just tested this in 1.0.4 but i still get the errors on the Gear360 images. The images from my Insta360 are loading just fine. Can you please take a look at this? The Gear360 images also used to work.

[2019-07-12 13:23] crossbuilder commented on #23
Here is a 180° picture that doesn't work:

http://z99a.camedel.de/s/fntHdre6tMcfsrj

IIRC this worked with NC15 and PhotoSphere < 1.0 .. but I could be wrong about that.

[2019-07-12 16:25] R0Wi commented on #23
@crossbuilder thanks for the feedback. I'll fix this in the next version. The xmp-data check is quite annoying ;-)
@TheNetStriker is it possible for you to provide the image which is not working

[2019-07-12 16:56] R0Wi commented on #23
@TheNetStriker indeed your image is working on an older version of photosphere-viewer.js (tested v.2.9). Unfortunately i have no idea whats wrong because these are internals of the library. So maybe you'd like to write a new issue here https://github.com/mistic100/Photo-Sphere-Viewer/issues ?

[2019-07-13 08:40] R0Wi commented on #23
@TheNetStriker i did some research and it seems that your image contains just some parts of the xmp-data. This breaks the component if we don't provide the full data. If we provide no xmp-data (and let the component load the image twice) it works. I'll investigate in that and keep you up to date :-)

[2019-07-13 08:41] #13 closed

[2019-07-13 15:09] Sanookmakmak opened #25 "Version 1.05: What are the limitations of the viewer?"
That one works in Google Photo, but in Nextcloud it is black only:
https://mega.nz/#!MRFTyQSY!I_ArEsqVuW2tIXL3HqP7mwdVEzZ79DAfwI6O2VU5-R0

[2019-07-14 15:42] R0Wi commented on #25
I'm sorry but i can't reproduce the issue. I downloaded your image and loaded it in various NC instances with the panorama-viewer version 1.0.5 installed and i had no problems with viewing it.

Could you take a look at your dev-console?

[2019-07-14 18:38] Sanookmakmak commented on #25
Sorry, i tested with Firefox 68.0 64bit only - i got a black page with it.

![beach 360](https://user-images.githubusercontent.com/24833757/61187848-2abf2600-a677-11e9-9333-8a4ca432c152.png)

Chrome, Opera and Edge are working well.

Smaller panoramas are working in Firefox
![edfu sphere](https://user-images.githubusercontent.com/24833757/61187851-30b50700-a677-11e9-9f44-f716c23ac05e.png)

[2019-07-14 18:46] Sanookmakmak commented on #23
@crossbuilder, that panorama isn't a photosphere because XMP-GPano parameters are missing.

[2019-07-14 18:50] R0Wi commented on #25
Ok, well that seems to be a browser problem which is directly related to the photosphere.js library. So i'll close this for now.

[2019-07-14 18:50] #25 closed

[2019-07-14 19:18] R0Wi commented on #23
Thats correct, the metadata doesn't provide any cropping information. But with version 1.0.5 this image will be shown in panorama-viewer anyway, because it has a 'GPano' string in the xmp-metadata section.

[2019-07-14 19:21] R0Wi commented on #23
@TheNetStriker  Did you test it with version 1.0.5? Should be fixed there.

[2019-07-15 08:16] TheNetStriker commented on #23
@R0Wi I've just tested this in 1.0.5 and it works. Thanks for the quick fix!

[2019-07-15 08:20] totti4ever opened #26 "Not working with Gear360 and Cardboard"
On which tags does the trigger work, i.e. which tags do I have to add to the non working files?

cheers

[2019-07-15 12:39] #26 closed

[2019-07-15 12:39] totti4ever commented on #26
will post in corresponding existing thread, issue #23

[2019-07-15 12:42] totti4ever commented on #23
I am having problems with cardboard and gear360 (rev1) images, photosphere pics from GCam are working. I made all three available (will expire end of next week):
https://cloud.jacobsen.online/s/vr-issue

[2019-07-15 15:48] R0Wi commented on #23
Ok which problems do you have in detail? I visited your link and was able to view all 3 images in the photosphere-viewer by clicking on it..?

[2019-07-16 18:30] totti4ever commented on #23
insane - it is working with all of them now, no clue what I did wrong before!
cheers for checking!

[2019-08-05 12:07] jelinj8 commented on #22
It took me a while to find ESC key for closing the viewer. Not available on touchscreen!

[2019-09-03 17:37] skjnldsv opened #27 "Integrate into viewer"
Hey!

Awesome app :)
On 16 we integrated the new universal viewer https://github.com/nextcloud/viewer/
Ideally your ui should integrate itself into it.

Do you see any possible issues? Could we work towards this outcome?
Can I be any help? :)

[2019-09-03 18:40] R0Wi commented on #27
Hi @skjnldsv,

i would really appreciate a proper integration. At the moment i don't see any risks to do this. The only thing which has to be mentioned is that the app isn't just the viewer component. It has also a little serverside part, which (at the moment) checks if the clicked image is a "normal" image or a photosphere image. Even if the check is quite fast it need a little time to determine

[2019-09-04 04:43] skjnldsv commented on #27
Okay :)
Let's do it step by step! How do you detect if a file is a panorama? Size + ratio?

[2019-09-04 11:13] R0Wi commented on #27
So currently the app works like this:
it hooks into the clientside click event for the mimetype "image/jpeg". If an image is clicked, a serverside script is invoked, which reads the first few bytes of the image file and scans for the XMP-data tags (metadata for pano files). If it finds the data, the tag values are returned via json and the client invokes the panoviewer with this metadata. If not t

[2019-09-09 08:18] skjnldsv commented on #27
Ah yes, we would need special hook since I'm guessing the mimetype is still set to image/jpg  or whatever ?

[2019-09-09 08:32] R0Wi commented on #27
Well as far as i know pano-images are just "normal" jpeg's with a bit of metadata at the beginning of the file. So yes the mime-type is "image/jpeg" which is listed in the files-view. Do you think we should introduce a special mime-type for pano-images so that its clear to divide normal jpeg's and panos on clientside?

[2019-09-09 08:44] skjnldsv commented on #27
Not sure we can trick dav into creating its own mimetype.
I think we should rather improve how we register files actions in viewer and files for such cases. I'm sure we will find other similar issues :)

[2019-09-09 12:36] R0Wi commented on #27
I know about an app registering it's own mimetype (https://github.com/jhass/nextcloud-keeweb). But of course it would be nice if we find another solution for this. Maybe we could add an additional attribute to the javascript-file-object or something like this?

[2019-10-05 14:32] elpraga opened #28 "nextcloud 17 compatibility"
hello! a nice neat app! any plans to make it compatible with  nc17?

[2019-10-05 18:52] R0Wi commented on #28
Hi,

thanks for your feedback. I'm going to investigate in that these days but at the moment i don't see any problems to make the app compatible with nc17.

I'll kepp you up to date :-)

[2019-10-06 11:56] elpraga commented on #28
I've enabled it as an untested app, and it seems to be working just fine. I assume, it should be easy to bump the version up and get rid of the red warning that could scare off some people.

Thanks for a nice piece of soft!

[2019-10-06 17:17] R0Wi commented on #28
Would also surprise me, if there was some breaking changes with NC17 which make the app incompatible. But let me check this quickly, then i'll update the config-file.

[2019-10-11 17:45] R0Wi commented on #28
Ok i checked the functionallity and all seems to be fine with NC17. But i encountered a little UI-error, because of the bug i submitted here: https://github.com/nextcloud/server/issues/17515. In detail the viewers vertical space was too big when i tested the app. So it reached down to the end of the page and i had to scroll down to see the controls on the bottom. You can check this if you have a f

[2019-10-12 14:03] elpraga commented on #28
Thank you @ROWi I did not encounter any issues when I enabled it on my server.  Will check the error you've reported.

[2019-10-25 09:17] R0Wi opened #29 "Establish CI with Travis/Scrutinizer/CodeCov"
I would really like to establish a CI pipeline with automatic builds, testing and deployment. Unfortunately i can't add the repository to Travis/Scrutinizer/CodeCov because i'm not the owner. Let's say i would like to setup a similar pipeline like other apps (like https://github.com/nextcloud/files_pdfviewer) do.

@LukasReschke @MorrisJobke is there a way to accomplish this?

[2019-10-26 19:17] R0Wi commented on #23
Since there haven't been posts here for a long time i will close this for now

[2019-10-26 19:17] #23 closed

[2019-11-24 13:53] Sanookmakmak commented on #28
I've updated to Nextcloud 17.01, i have a white page with the Photo Sphere Viewer v 1.05 instead a panorama :-(

App does not work @R0Wi

[2019-11-24 14:25] R0Wi commented on #28
@Sanookmakmak that sounds bad. Do you have some error logs of your browser and maybe you NC instance? For me it worked with NC17 despite the error mentioned in https://github.com/nextcloud/server/issues/17515 (not sure if they will patch back for NC17 or if the error will be fixed in the new NC18 only)

[2019-11-24 22:47] Sanookmakmak commented on #28
I found it out - WebGL was disabled ;-)
Now it seems to work.

![webgl_disabled](https://user-images.githubusercontent.com/24833757/69502922-bba2e980-0f14-11ea-8161-6fee90dbc0bc.png)

[2019-11-25 06:50] R0Wi commented on #28
Interessting, didn't know this feature can be disabled in the browser. Could be a little improvement that we show an alert in this case :-)

[2019-11-25 13:03] Sanookmakmak commented on #28
The JonDonym IP check is suggesting to turn WebGL off in the browser: http://ip-check.info/?lang=de

[2019-11-25 13:10] R0Wi commented on #28
Well the photosphere-js-library uses three.js lib under the hood which uses WebGL for rendering the photosphere image. So i'm afraid there is nothing we can do here if you decide to turn off WebGL in your browser :-/

[2019-12-01 12:49] jmptbl opened #32 "incompatible with external authentication"
There seems to be a compatibility issue between the files_photospheres and user_external plugins:

https://github.com/nextcloud/user_external

My Nextcloud instance uses external IMAP authentication. While logged into Nextcloud if I try to open a photosphere, it looks like the photoviewer tries to start (`/apps/files/?dir=/Photos/Camera-Pixel&fileid=472#photo-sphere-viewer-frame` in the URL), but

[2019-12-01 13:22] R0Wi commented on #32
Thanks for your feedback. At the moment i can't say whats causing this issue but i'll investigate further by setting up the external auth app on my dev machine. I will keep you up to date.

[2019-12-01 15:42] R0Wi commented on #32
@jmptbl in the meantime you could provide some more information if possible, please. So there are two things which could help:
1. the network tab log of your browser (would be good to see all the requests going on so make sure the "keep history" checkbox is active
2. your NC config snippet, which is responsible for configuring the external authentication app.

[2019-12-02 06:16] R0Wi commented on #32
@jmptbl i did a quick setup with the `user_external` app combined with a samba authentication (because i don't have a IMAP server ready). Unfortunately i can't reproduce the error you mentioned, everything is working like expected.

Your comment

by the way sounds like there is some kind of Basic Authentication going on. Could this be due to some special kind of server configuration?

[2019-12-04 23:47] jmptbl commented on #32
I believe I have found the issue. The cause is actually not external authentication, rather the definition of d.DEFAULTS.with_credentials in photo-sphere-viewer.min.js.

It is set to !1 (false), and that config parameter gets used to determine the CrossOrigin parameter on the image loader. When false, CrossOrigin is set to anonymous, which according to [this](https://developer.mozilla.org/en-US/do

[2019-12-05 06:17] R0Wi commented on #32
Thanks for this analysis. The setting you mentioned can be overwritten when creating the viewer component so no need to manipulate the default value.

If i get things right the setting is applied mainly at two places:
1. when loading the image within the three.js library (https://github.com/mistic100/Photo-Sphere-Viewer/blob/9bf664a2239081aad2d85cbb060b4e34424e7857/src/js/services/PSVTextureLoader

[2019-12-18 20:16] clidx commented on #28
This just happened to me too. It appears to be disabled in Chrome by default, or at least Chromium on Linux. I thought the entire plugin was just bugged because there was no error message or anything.

[2019-12-18 20:24] R0Wi commented on #28
Thanks for your feedback. I'm working on an alert so it's clear to the user that he has to enable WebGL support. I'm going to test it with chromium and iceweasel browsers, too. Please refer to https://github.com/nextcloud/files_photospheres/tree/feature-webgl-support-detection branch for more information.

[2019-12-24 12:57] R0Wi opened #33 "Information if WebGL is disabled"
We need an alert, which pops up if a user clicks on a photosphere image and WebGL is disabled in his browser instance.
In this case the app would not work so we just show the message and return to the files-view.

[2019-12-24 12:58] R0Wi commented on #28
@clidx i moved this issue [here](https://github.com/nextcloud/files_photospheres/issues/33).

I'm closing this now, because there a no more NC17 related issues. Feel free to reopen, if someone else encounters any problems with NC17.

[2019-12-24 12:58] #28 closed

[2019-12-24 13:52] R0Wi commented on #33
Feature implemented. Please reopen if you encounter any problems.

[2019-12-24 13:52] #33 closed

[2019-12-24 16:37] R0Wi commented on #32
I have some news on this: seems that this is a general issue in Safari and doesn't directly correspond to the `external authentication` app. I was able to reproduce the issue by simply logging in to my NC instance (on a Mac Safari) and opening a photosphere image. The browser tab shows, that the session cookie is not set in the request for the image. This request is send inside of the iframe which

[2020-01-09 13:44] elpraga opened #35 "Lacking support for upcoming NC18"
Please, make the app compatible with NC18!

It's a great and useful app!

[2020-01-09 18:31] R0Wi commented on #35
Please checkout https://github.com/nextcloud/files_photospheres/releases/download/1.0.7-beta1/files_photospheres.tar.gz and let me know your results. I successfully tested this version under NC18 alpha, by extracting it directly into the `NEXTCLOUD_ROOT/apps`-folder and giving file-permissions to the webserver-user (e.g. `chown -R www-data:www-data NEXTCLOUD_ROOT/apps/files_photospheres`).

Thanks

[2020-01-10 12:12] elpraga commented on #35
Thank you @R0Wi for your reply. There are still some critical apps I'm waiting to be updated before upgrading my NC to NC18.

I'll test it once I do the upgrade, and I'll let you know.

[2020-01-10 14:37] R0Wi commented on #29
@skjnldsv any help would be appreciated please.

[2020-01-10 14:40] skjnldsv commented on #29
Hey :)
Travis is enabled for the whole company, you can just add a travis config file and it will trigger
We're also using our own drone servers, so you might want to consider using drone as well, as it offers more versatility with your tests :)

[2020-01-10 15:12] R0Wi commented on #29
Thanks for your feedback. Is travis also enabled on branches so i can test it on a test branch? I'll take a look at drone , too :-)

[2020-01-10 15:15] skjnldsv commented on #29
yes, create a pull request and you'll get your github feedback :)

[2020-01-10 16:41] R0Wi commented on #3
unclear

[2020-01-10 16:41] #3 closed

[2020-01-10 16:47] R0Wi commented on #10
@TheNetStriker here is what i suggest:

- Add an option to the NC context menu with `Open in 360° Viewer`, which appears only on `.mp4`-files
- When clicking this, a new popup opens with the Marzipano-Viewer (https://www.marzipano.net/)
- We will keep the `photosphere-js`-library for images

Unfortunately we're not able to determine if a `.mp4`-file contains 360°-data (at least i don't know how to

[2020-01-13 15:24] TheNetStriker commented on #10
@R0Wi Sound good to me. Maybe there will be some mp4 metadata information in the future to identify spherical videos. I e.g. found this rfc on a google project: https://github.com/google/spatial-media/blob/master/docs/spherical-video-v2-rfc.md

[2020-01-13 15:59] R0Wi commented on #10
Thanks for the source, i'm going to do some research on this.

As a first step i would implement a contextmenu solution (in the regular filesview only, so no shares). Would you like to be a voluntary and test this feature if i'm ready?

[2020-01-16 16:03] TheNetStriker commented on #10
@R0Wi Yes I would like to help testing this new feature. Please let me know if you have a version that I can test.

[2020-01-25 12:59] #32 closed

[2020-01-25 13:01] #20 closed

[2020-01-26 14:20] elpraga commented on #35
The version 1.0.7 seems to be working fine with NC18. Controls do not appear on my phone in portrait mode, they do appear on my tablet in porttrait mode though.

Thank you!

[2020-01-26 14:28] R0Wi commented on #35
Ok i'll close this for now. Please add a new issue for the problems with the controls and add some further information about the phone and the browser you're using. Thanks for your feedback :-)

[2020-01-26 14:28] #35 closed

[2020-01-26 15:17] jmptbl commented on #32
@R0Wi Sorry I didn't manage to provide the detailed analysis you needed. I was having issues capturing Safari's development inspector, and had shift focus to other work. Thank you for pursuing it on your own and merging a fix!  Much appreciated.

[2020-02-08 18:59] R0Wi commented on #10
@TheNetStriker i have a first working version at https://github.com/nextcloud/files_photospheres/tree/feature/360videos. Just clone the repo and checkout branch `feature/360videos`. If you're not familiar with git i can provide a tarball if you like :-)

Currently only `mp4`-files are supported via contextmenu (right click) in regular file-view. Please let me know your results.

[2020-02-10 17:08] TheNetStriker commented on #10
@R0Wi I just installed the new app. I simply cloned the files_photosperes repository into the apps directory and checked out the feature/360videos branch. But I don't get any additional commands in the context menu on mp4 files. I've also tried if an Apache restart helps, but I still don't get an more commands on mp4 files. Do I have to do anything else to get this to work with the debug branch?

[2020-02-10 18:16] R0Wi commented on #10
Well the only thing i could imagine is a browser chaching problem. Depending on your browser you could try to clean the cache or (on chrome) use the developer tools on the network tab and tick "disable cache". Let me know your results :-)

[2020-02-18 14:55] TheNetStriker commented on #10
@R0Wi Thanks for the hint. I now also works on the other pc.

[2020-02-18 16:44] R0Wi commented on #10
So if i understood you right the viewer is working in the expected manner? If so i would provide this feature in the next release.

[2020-02-18 16:53] TheNetStriker commented on #10
@R0Wi Yes, everything seems to work as expected.

[2020-04-02 19:08] tomash12 opened #39 "photo does not open"
when I want to open a photo a message pops up "No app is registered to show regular non-photosphere images"
http://serwer.kaldron.pl/index.php/s/Cdekt55p5q358JP
help :)

[2020-04-02 19:24] R0Wi commented on #39
Do you have an app registered for viewing regular images like the gallery-app or the viewer-app? The image you provided isn't a photosphere so the app for regular jpeg's is triggerd and this message only shows up if there isn't such.

[2020-04-02 19:55] tomash12 commented on #39
when I am logged in, I can only open it when I send a link I cannot,

how to install gallery-app. - I do not see the application
![Przechwytywanie](https://user-images.githubusercontent.com/63071390/78295523-90688080-752c-11ea-885b-176db6b80da6.JPG)

[2020-04-02 19:57] R0Wi commented on #39
Ok i see you've installed the viewer app thats fine. Gallery is deprecated. Let me analyze that, i'll keep you up to date.

[2020-04-05 15:56] R0Wi commented on #39
@tomash12 is did a little debugging and i noted that the `viewer` app doesn't popup on link shares at all (not on directory-share neither on single-file-share). So this could be an issue or a missing feature. If you like please open a new issue on their site: https://github.com/nextcloud/viewer

If i disable the `Photosphere Viewer`-App, the file just download after clicking on it. So there you ar

[2020-04-19 07:40] kadrim opened #41 "black screen using firefox?"
Hi there!

i really love to use photospheres but for me it seems not to work correctly.

I am using NC 18 and Photo Sphere Viewer 1.0.7

On all Windows (10) devices with Firefox (currently v 75) the Panoramas won't display. On Chrome and Edge (also Chrome) everything is fine. Even on mobile phones (Android 10) with firefox the Panorama is displayed.

But on the Desktop Firefox everything is Black.

[2020-04-19 08:06] R0Wi commented on #41
Hi @kadrim,

thanks for your feedback. I did a quick test on `Firefox 75.0 64bit` (Ubuntu 18.04) and i didn't encounter any issues. Would be nice to see your console log and maybe also have your mentioned public link.

I have to say that the app is just integrating the "photosphere viewer js" library from https://photo-sphere-viewer.js.org/ so any problems regarding this component can't be directl

[2020-04-19 08:54] kadrim commented on #41
Thanks for the quick reply!

Here is the public link:

https://nextcloud.tyrael.metaname.de/s/zNk8o9wyNtoYGJe

The curious thing is, that using FF on https://photo-sphere-viewer.js.org/  does work. So maybe it's the integration within NC or (more likely) my NC / nginx setup... any hints are very appreciated :-)

Here is the console log of Firefox using that link:

[code]

[2020-04-19 09:00] kadrim commented on #41
just booted my linux with FF 74 and i get that via console log:

[code]
the last line happened also in windows, but took some time, so it was not included in the initial post

[2020-04-19 09:11] kadrim commented on #41
for comparision, this is what i get via chrome (here it works):

[code]

[2020-04-19 18:51] R0Wi commented on #41
Thanks for the provided image (it's impressing by the way ;-) ). I did a quick minimal setup with the library and without any NC infrastructure:

- http://example.labella-band.de/panorama1.html (same library version as used in the app)
- http://example.labella-band.de/panorama2.html (newest stable release 3.6.0)

Unfortunately i wasn't able to get things working with Firefox so the problem seems t

[2020-04-19 19:29] R0Wi commented on #29
@skjnldsv thanks for you help. I did a setup for `drone` on #42 but it doesn't run automatically. The config from https://drone.nextcloud.com/nextcloud/files_photospheres/settings says "activate repository" but if i click the button i get "There was a problem enabling your repository. Not Found.". Am i missing something here?

[2020-04-20 07:34] skjnldsv commented on #29
Hey !
In the meantime we tried to move away from drone as much as we can, because it takes forver now :(
We have too much tests running on our servers ^^
You can see your github actions examples in the app-tutorial repostory though, this is blazing fast and awesomely simple! :D

https://github.com/nextcloud/app-tutorial/tree/master/.github/workflows

[2020-04-20 07:35] skjnldsv commented on #29
I guess you need the permissions to do so :see_no_evil: Let me activate for you!

[2020-04-20 09:27] kadrim commented on #41
Thanks alot for your insights!

i will open an issue upstream and link it here - can i just copy over the examples you provided on your (Band :-) )-Site onto my servers?

The image was made by using a DJI Mavic Pro, stitched the images via ICE, then fixups via Photoshop and lastly i added the needed EXIF data by hand. So the problem might be there, but as you said, it doesn't explain why it is wor

[2020-04-20 11:22] R0Wi commented on #41
You're welcome :-)

I provided the whole sample as archive [here](http://example.labella-band.de/example.tar.gz), please let me know if you downloaded the file. If you're okay with that i would close the issue here because this is not an issue with the app but rather with the component it's integrating. But please feel free to make a reference to this issue, it will help the `photosphere viewer js

[2020-04-20 11:27] #41 closed

[2020-04-20 11:28] kadrim commented on #41
I just downloaded the archive - thanks alot for your astonishing support!

and, just for the sake of completeness (since we live in the same federal state): "bleib g'sond und dangschee, adé" :-)

[2020-04-20 12:03] R0Wi commented on #29
Thanks for your great support :-) I'll have a look at the github actions. By the way: is it possible to add me as "administrator" for this repository? Because i can't configure any merge-checks etc. which is quite annoying :-/

[2020-04-20 12:53] skjnldsv commented on #29
Done, sorry about that, good enough?

[2020-04-20 14:51] R0Wi commented on #29
Perfect, thanks so much for your support :-D

[2020-04-20 15:47] skjnldsv commented on #29
You're very welcome! :hugs:

[2020-04-20 16:21] R0Wi commented on #29
@skjnldsv may i just annoy you one last time:
i did a setup with GitHub Actions (very nice by the way, thanks) and i would like store some secrets (app key) in the `Secret` tab of the repo-settings for automatic signing and deployment. Unfortunately i do only have the rights to see tabs `Options` and `Interaction limits`. Is it possible to activate the tabs `Secrets`, `Branches` and `Webhooks`, to

[2020-04-20 16:44] skjnldsv commented on #29
You're not annoying me :)
Should be good now?

[2020-04-20 17:44] R0Wi commented on #29
Perfect, thanks a lot :-)

[2020-04-20 17:44] #29 closed

[2020-04-21 20:55] #39 closed

[2020-04-21 21:11] #10 closed

[2020-05-28 00:31] Sanookmakmak opened #47 "Don't break Fotos App of NC 18.0.4"
With Photo Sphere Viewer 1.0.8 installed the official Fotos App does not work anymore: [https://help.nextcloud.com/t/new-photo-app-in-nextcloud-18](https://help.nextcloud.com/t/new-photo-app-in-nextcloud-18/69949/68?u=sanook)

[2020-05-28 07:11] R0Wi commented on #47
Hi @Sanookmakmak, just to be sure: are you talking about sharing a single file or are you sharing a complete folder via public link?

[2020-05-28 09:31] R0Wi commented on #47
Found the culprit. Will be fixed in 1.0.9.

[2020-05-28 09:56] #47 closed

[2020-05-28 15:14] R0Wi commented on #47
Note that you'll have to update to at least NC 18.0.4 to have the corresponding viewer-app fix with https://github.com/nextcloud/viewer/commit/19cf4cba91a3b893b81efac71c9b1d6e4ba5b18e

[2020-05-29 10:05] siccovansas opened #49 "Use EXIF to determine photo orientation"
When you create a panorama/photo sphere using a smartphone, depending on your phones orientation while capturing the image, you can end up with an image that is stored 'upside down', but the EXIF should state that. Currently this app seems to not process this information, so some of my panoramas are shown upside down. Could this be fixed?

Awesome app by the way!

[2020-05-29 10:14] R0Wi commented on #49
Hi @siccovansas, thanks for your feedback. Since the app only integrates the [Photosphere Viewer JS](https://photo-sphere-viewer.js.org/) library, which is then responsible for showing the image, i'm afraid there's not much we can do here. Like discussed in #1 an option might be to update the component to version 4 which is now released (currently we're using version 3). But i don't know if the vi

[2020-05-29 12:06] siccovansas commented on #49
Hi @R0Wi, thanks for your reply! Here is an example image that is shown up side down: https://we.tl/t-4gmfXk2ovp

[2020-05-29 12:53] R0Wi commented on #49
Thanks for the sample. I did a quick setup with the `PhotosphereViewer` component like described [here](https://photo-sphere-viewer.js.org/guide/#dependencies). Unfortunately i got the following warnings in the browser console and the screen stays black:
[code]
So it seems that the viewer has problems showing your specific image because of it's metadata. I extracted the XMP-metadata of your image

[2020-05-29 12:57] siccovansas commented on #49
Thanks for looking into it! I'll open an issue at the Photosphere Viewer JS repo and link back to here :+1:

[2020-05-29 14:21] R0Wi commented on #49
Closing this for now. Please reopen if the app itself can help to overcome the issue.

[2020-05-29 14:21] #49 closed

[2020-06-02 16:53] siccovansas commented on #49
Over at Photosphere Viewer JS [they don't see any issues with the image](
https://github.com/mistic100/Photo-Sphere-Viewer/issues/398), so I guess that version 4 fixes it.

[2020-06-02 17:11] siccovansas commented on #49
Woops, I misunderstood. [Apparently version 4 doesn't fix it](https://github.com/mistic100/Photo-Sphere-Viewer/issues/398#issuecomment-637683510) and my image seems to be the problem. Nothing you can do then :)

[2020-06-06 10:39] elpraga opened #50 "Nextcloud 19 support"
Could you, please, update this great so to work with Nextcloud 19?

[2020-06-06 10:54] R0Wi commented on #50
Will work on this today

[2020-06-06 12:42] elpraga commented on #50
Thank you, that's great news!!

[2020-06-06 14:29] R0Wi commented on #50
Created the new release and uploaded it to NC appstore. Should be available soon. I did a quick test and everything seems fine but feel free to reopen if you encounter any troubles with NC 19.

[2020-06-06 14:29] #50 closed

[2020-06-07 15:35] R0Wi opened #52 "Support for fulltextsearch"
Currently the jump from a searchresult from [fulltextsearch-app](files_fulltextsearch) doesn't work properly because the app is not providing enought imformation about the clicked file in https://github.com/nextcloud/files_photospheres/blob/56980147697993a3297b64d331e7bc612f80ae42/js/fileAction.js#L261 .

[2020-07-06 16:32] balsoft opened #53 "Falsely identifying regular photos as photospheres"
I'm storing pictures from my DJI Mavic 2 Pro in nextcloud, and for some reason they are all displayed as a photosphere (even the regular photos).

A regular photo:
[code]

A photosphere (it is detected as a photosphere correctly, so it's here just for reference)

[code]

If needed, I can also provide full EXIF dumps of those two pictures.

Photos taken from my DSLR are correctly identified as phot

[2020-07-06 17:14] R0Wi commented on #53
Thanks for reporting. Is it possible that you provide the two images (or at least one regular and one photosphere) somehow? I'd really like to have a look into the raw data which is processed by the apps backend.

[2020-07-06 19:29] balsoft commented on #53
Ok, a regular one: https://share.balsoft.ru/DJI_0024.JPG and a panorama: https://share.balsoft.ru/DJI_0308.JPG . If the speeds are too low on my server for you, ping me and I'll upload them somewhere else.

[2020-07-08 07:19] R0Wi commented on #53
Thanks i'll analyze and report my results.

[2020-07-13 11:17] balsoft commented on #53
Hi, is there any progress on this? If not, is there a way I could help?

[2020-07-13 11:48] R0Wi commented on #53
Sorry didn't have time to take a look at the images, yet. I'll keep you up to date and inform you if you can help, thanks.

[2020-07-16 04:37] R0Wi commented on #53
So i did a quick lookup of the raw xmp-data blocks in you images and they look like this:

**Regular:**
[code]

**Pano:**
[code]

As you can see both images contain some tags starting with `GPano` and thats the problem. So currently the app just checks the xmp-meta-block for any `GPano` tag and if there is one present it detects the image as photosphere and therefore shows it in the photosphere-vi

[2020-07-16 05:18] R0Wi commented on #53
Ok fix is done. Is it possible for you to checkout https://github.com/nextcloud/files_photospheres/tree/bugfix/%2353 an see if it fixes your problem?

[2020-07-16 05:43] balsoft commented on #53
Ok, thank you very much! I'll try the fix today as soon as I can.

[2020-07-16 05:51] balsoft commented on #53
Ok, I just tried it and it works!

Thanks a lot for fixing this!

[2020-07-16 05:54] balsoft commented on #53
Oh, I noticed another issue (I don't know if it's related to your bugfix): when I navigate my photo collection with photos "open", if I open a panorama, it shows as a regular picture. If I open that same panorama from "browse" view, it does open as a panorama.

[2020-07-16 06:13] R0Wi commented on #53
Not quite sure if i got you right but if you're talking about switching between photos inside the `viewer` app, this scenario is currently not supported. There is a discussion at https://github.com/nextcloud/files_photospheres/issues/27 where we think about a full integration of this app into the `viewer`-app (which is used to show regular images).

Like stated in the [`README.md`](https://github.

[2020-07-16 06:30] balsoft commented on #53
Oh ok, that makes sense. Thank you once again!

[2020-07-16 08:25] R0Wi commented on #53
You're welcome :-) Please let me know your testing results if you have some news for me.

[2020-07-18 11:20] #53 closed

[2020-10-06 05:07] R0Wi opened #61 "Nextcloud 20 compatibility"
This app should work with NC 20.

- [x] Update `appinfo/info.xml`
- [x] Update `README.md`
- [x] Update test actions in `.github/workflows` to run on `stable20`
- [x] Remove `appinfo/app.php`  and `appinfo/autoload.php` and use [`IBootstrap`](https://docs.nextcloud.com/server/latest/developer_manual/app_development/bootstrap.html) instead
- [x] Check ohter compatibility stuff from NC 19 to NC 20 r

[2020-10-12 19:49] #61 closed

[2020-11-23 08:37] Lau-Co opened #67 "File browser windows empty for copy/move in file but not elsewhere"
Hi,
I met a stange problem with my nextcloud.
I'm not sure this create the problem, but before, I setup group folder, and create group folders with the same name some sharing folder already have.
So I was having a public folder and create a public group folder.
After that, in file, group folder apear with their setting name and sharing folder appear 'renamed' public-2 by the system.

Somewhere aft

[2020-11-23 08:38] Lau-Co commented on #67
Note
 I remove group sharing to
empty cache
try other browsers and other compuetrs

[2020-11-23 09:20] R0Wi commented on #67
Hi @Lau-Co, i'm not sure if this is the right place for your problem since this is the `files_photospheres` app which only introduces a viewer for Google photosphere images in the frontend of Nextcloud. Did you pass your issue to the guys at [Nextcloud server](https://github.com/nextcloud/server) ?

[2020-11-23 09:24] Lau-Co commented on #67
sorry
i'm newbe

I'm going to ask following your link
thanks
LauCo

[2020-11-23 10:02] #67 closed

[2021-01-04 21:34] elpraga opened #68 "Enabling Photos Spere Viewer causes PDF Viewer and Photo Preview shift upwards and leave a blank space at the bottom of the page"
Expected behaviour:
![Screenshot from 2021-01-04 22-30-40](https://user-images.githubusercontent.com/13814570/103581595-9be24100-4edc-11eb-86e7-cc1dee7c2fb2.png)

[2021-01-04 21:35] elpraga commented on #68
View when Photo Sphere Viewer enabled:
![Screenshot from 2021-01-04 22-33-21](https://user-images.githubusercontent.com/13814570/103581920-2d51b300-4edd-11eb-99ff-b297addfd6ce.png)

[2021-01-04 21:38] R0Wi commented on #68
Sorry i can't see a real difference? Could you provide a sample pdf, please? And could you also send a list of enabled apps?

[2021-01-04 21:40] elpraga commented on #68
Notice the extra space on the bottom. Gimme a sec. I'll switch to white background...

[2021-01-04 21:42] elpraga commented on #68
Can you see the white strip at the bottom?

![Screenshot from 2021-01-04 22-41-45](https://user-images.githubusercontent.com/13814570/103582422-1cee0800-4ede-11eb-9ae9-9694882f3d49.png)

[2021-01-04 21:43] elpraga commented on #68
The part with **Settings** is part of the page underneath. It also messes up the position of the close button of the PDF Viewer.

[2021-01-04 21:43] R0Wi commented on #68
Ah okay now i can see it :-) Ok that's strange i'll dig into this...

[2021-01-04 21:45] elpraga commented on #68
I've actually made a previous bug report concerning the PDF Viewer https://github.com/nextcloud/files_pdfviewer/issues/269 before @juliusbr set me on the right track

[2021-01-04 21:45] elpraga commented on #68
Thank you @R0Wi !!

Happy New Year!

[2021-01-04 23:54] R0Wi commented on #68
Happy new year :-D

Would you like to try the following patch `curl https://github.com/nextcloud/files_photospheres/commit/e2466385889409cde17ad3edc15bf252932516de.patch | patch -p1` from https://github.com/nextcloud/files_photospheres/commit/e2466385889409cde17ad3edc15bf252932516de?

[2021-01-05 15:07] elpraga commented on #68
I have tried to apply the patch, but the issue **was not fixed** by the patch. It still continues.

[2021-01-05 15:38] R0Wi commented on #68
Could you please clear your browser cache?

[2021-01-05 15:46] elpraga commented on #68
I've just did. After clearing the cache, the patch **does fix** the issue!

Thank you for the quick fix @R0Wi !

[2021-01-05 16:57] #68 closed

[2021-01-05 18:01] R0Wi commented on #68
You're welcome. Will be fixed with `v1.20.1`.

[2021-02-16 08:32] ykutovoy commented on #11
Could it be realised?
[photosphere plugin](https://photo-sphere-viewer.js.org/plugins/plugin-markers.html#usage)
If create for example "wind rose" at bottom and allow users to select image for direction (we could create "sreetview" replacement)

[2021-02-16 08:53] R0Wi commented on #11
@ykutovoy is this related to the feature discussed here? Otherwise i'd kindly ask you to create a new issue and provide some additional information about the usecase.

[2021-02-16 08:57] ykutovoy commented on #11
I suppose it is one of possible solutions to switch between images

[2021-02-16 09:11] R0Wi commented on #11
Ok currently i don't see the connection between toggling between various images and creating metadata inside a particular image which allows me to kind of interact with that image? Or do you just mean to use this functionality to create two buttons inside the viewer for toggling? I think the controls are not the problem it's rather how to know which image will be the next, like stated in https://g

[2021-02-16 10:38] ykutovoy commented on #11
Unfortunately, I'm far not a programmer. I.m just a happy user wich got such a cool app in nextcloud :) I can only provide user experience, and to hope somebody will do the app more comfortable for me.

Could we add button "move to...", if pressed, on raght side pops up list of files in directory, after selecting, its opens?

[2021-02-20 10:42] R0Wi commented on #11
Thanks for the creative input @ykutovoy . I'll investigate in that improvement as soon as i have time for this :+1:

[2021-04-17 14:11] kadrim opened #72 "An error occurred trying to read xmp-data"
recently my NC 21 does not work anymore for panoramas.

I get the exact same issue as reported here:

https://github.com/nextcloud/server/issues/25759

I will gladly assist in debugging this, if someone can tell me what else is needed to clarify

[2021-04-17 14:18] kadrim commented on #72
clarification: sometimes it does work, sometimes not. i cannot yet determine why and when the issue happens.

[2021-04-17 14:37] R0Wi commented on #72
Hi @kadrim, thanks for reporting this. Could you please post some snippets of your serverside and clientside logs? Could you also give some information regarding your setup?

[2021-04-17 18:30] kadrim commented on #72
Thanks @R0Wi for your quick reply!

currently i cannot reproduce the issue. can it be related to some form of caching? i did rule out browser caching by using different browsers (always in-private-mode).

Or maybe it just happens with high io-load? my server (debian 10 VM on proxmox) was busy with backups today.

[2021-04-17 20:44] R0Wi commented on #72
So the mentioned error message in the issue you provided (https://github.com/nextcloud/server/issues/25759) can only be thrown at
https://github.com/nextcloud/files_photospheres/blob/master/lib/Service/ShareService.php#L59. Are you dealing with shared files and/or folders? The message comes from NC core telling that the shared link does not exist anymore for whatever reason.

[2021-04-18 08:17] kadrim commented on #72
in general yes, i use sharing. for the test i did perform yesterday, i just uploaded the file via the browser and tried to open it afterwards. so no sharing involved.

i also checked the NC logs, but nothing of relevance in there at the time of testing. maybe i would need more verbose output, but for that, the bug must be reproducible.

yesterday it happened 10 out of 9 attempts, but after my back

[2021-04-18 08:27] R0Wi commented on #72
Ok that sounds strange to my ears because i'm quite convinced that the error message can only be thrown at the point i mentioned. And that code is only executed if you access a file via a share link. But yes it seems like that if we have a look at the provided screenshots.

I'll provide a patch with extended logging, would be glad if you could check this one when it's finished. Also let me know yo

[2021-04-18 08:27] kadrim commented on #72
will do, sir ;-)

[2021-04-18 11:07] R0Wi commented on #72
@kadrim could you try the draft in #73 (maybe by patching via git `curl https://patch-diff.githubusercontent.com/raw/nextcloud/files_photospheres/pull/73.patch | git apply` while being inside the `nextlcloud/apps/files_photospheres` folder)? And please set the serverside [loglevel](https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/logging_configuration.html#log-level) to `

[2021-04-18 16:23] kadrim commented on #72
@R0Wi japp, will do. i am currently cloning my VM and will then enable the IOPS limiter to see if the bug will present itself again.

i tool the liberty to ask the original-bug-authors to participate aswell.

[2021-04-19 17:21] lftsy commented on #72
Thanks @R0Wi , I tested your patch (on git clone version + git patch) and I do not have the error anymore (xmp-data error while clicking on picture in file details tab in file explorer) !
And photosphere is still working for me ! I will keep testing it and report you if I see another side effect and comparing with patch reverted

Thanks and Best Regards

[2021-05-05 00:50] sylikc commented on #72
alright, i see this isn't an NC bug directly, and a photosphere bug.  Thanks for linking to this issue from the Server issue @kadrim .  So, the comment above about patching... **can I do this to a production instance without messing up the App upgradeability**?

I have now encountered it for 360 photos inside my NC 21 instance.

[2021-05-05 05:27] R0Wi commented on #72
@sylikc thanks for the additional information. The patch can be applies without messing up the app if you're using the latest app version. It basically only adds some logging at various points so no need to be afraid here :-)

I'd really be looking forward if you could share your server logs after applying the steps in https://github.com/nextcloud/files_photospheres/issues/72#issuecomment-82197406

[2021-05-05 06:41] sylikc commented on #72
@R0Wi yes, I had the error when viewing from the NC21 files when logged in.

Then I went to SHARE the FOLDER to see if someone else could see the photosphere (from the shared folder link), and it worked.

Then I went back to my logged in instance, and i could view the photosphere 360 with no errors.

[2021-05-05 06:58] R0Wi commented on #72
Super strange 😄 Thank's for the hint, could help me for further investigation 👍

[2021-05-05 07:17] sylikc commented on #72
ok, what I did now was unshare the folder... as soon as I unshare the folder, the error comes up again (and the 360 photo becomes flat again).

I'll run the patch and check server logs in a bit

[2021-05-05 07:35] sylikc commented on #72
ok, so i ran the patch (had to remove the `.vscode/launch.json` stuff from the last commit... i need some help getting you the applicable logs

[2021-05-05 07:44] sylikc commented on #72
odd... ok, so more information... currently the folder is NOT SHARED.

1. I'm using latest Chrome on Windows 10 at the moment...
2. I click a file, and it gives me that error (`An error occured while trying to read xmp-data: Share not found: The requested share does not exist anymore`)
3. I press `F5` to refresh and it gives me that error
4. I press `F5` to refresh and it gives me that error again

[2021-05-05 09:28] kadrim commented on #72
@sylikc i still suspect some kind of IO-Load to be responsible, but had no time yet to prepare my VM iwth an IOPS limit.

could you create some artificial IO on your NC-Server like copying large files while testing? And try to see if then the error is persistant?

otherway around: can you reduce the IO-Load on your system somehow and see if the error vanishes?

[2021-05-05 18:36] sylikc commented on #72
@kadrim I'll try a large file sync test later .... but unfortunately my environment is kinda wonky.

I'm running inside a virtual environment on relatively budget hardware... on top of that, the `data` folder is on an NFS share to a NAS.  Network is blazing fast though with LACP link on the virtual host.

I don't know how that would affect the way photospheres works, but my environment is probably

[2021-05-06 05:41] R0Wi commented on #72
Thank you all guys for sharing your information. @sylikc i can see in your logs that there is a request made to the endpoint which normally handles shared directories but this one shouldn't be triggered at all because you are in a "usual" login session which is handled differently under the hood. Currently i'm suspecting the javascript frontend function [here](https://github.com/nextcloud/files_ph

[2021-05-06 06:05] kadrim commented on #72
of course, will do as soon as you release the more verbose logging, i will apply it.

still struggling to reproduce the issue at all, and had no time yet to implement the iops limiter (will be doing that this weekend!)

[2021-05-06 07:01] sylikc commented on #72
Browser logs? Like from inspecting? Need some quick tutorial on how lol

[2021-05-06 08:47] R0Wi commented on #72
Thanks guys. @sylikc that's no problem, i'll inform you as soon as the new patch is available and help you to access the necessary logs 👍

[2021-05-07 19:35] R0Wi commented on #72
I provided some additional logging output. Please try to patch again (see https://github.com/nextcloud/files_photospheres/issues/72#issuecomment-821974064) or use the artifact from https://github.com/nextcloud/files_photospheres/suites/2680011030/artifacts/59083216 .

For getting the browser logs please open the devtools via <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>I</kbd> (or right click -> insp

[2021-05-08 01:16] hobbsecky commented on #72
Hi. I have a fresh install of NextcloudVM. It's Nextcloud 21.0.1. I have had the same error with xmp-data. If I create a public link it worked with no issue. When logged in as the Nextcloud admin user I still got the error.

I did perform the patch you listed. I was going to send my output because initially it spit the same error message as admin. When I disabled the cache it worked perfectly. I c

[2021-05-08 01:32] hobbsecky commented on #72
Removed Photosphere app, reinstalled, DID NOT PATCH, cleared Firefox browser cache. Have not seen the error message.

[2021-05-08 19:33] sylikc commented on #72
I'm not exactly sure what's going on, but I went and did an inspect, and then did a disable cache... then it the XMP error happened twice....

then I refreshed a few times and I can no longer get it to trigger again (I had ran patched artifact, then even tried reverting it to the last patch)

It's pretty slow to load without cache though.

I can no longer get things to trigger the xmp error with t

[2021-05-14 22:06] Githopp192 commented on #72
got the same error message with NC 21.0.1 - but i saw different outputs on different browsers:

- MS Edge - working fine (no errors at all on the same content !)
- Mozilla got the "An error occurred trying to read xmp-data" messages, too .. but only the first time
  (when you forward/backward your pics, then the 2nd time .. no errors will be shown anymore).

i'm on Windows 10, all the Browers + Wi

[2021-05-15 06:19] R0Wi commented on #72
@Githopp192 did you try to patch like stated https://github.com/nextcloud/files_photospheres/issues/72#issuecomment-821974064 ?

[2021-05-16 17:28] #72 closed

[2021-05-16 17:52] R0Wi commented on #72
Should be fixed with `files_photospheres` `v1.21.1`. Thank you all for participating! Please feel free to reopen this issue if the problem is still present.

[2021-05-16 19:41] poVoq commented on #1
Any news on this? Looks like v4 is stable now: https://photo-sphere-viewer.js.org/guide/migration-v3.html

[2021-05-16 20:39] R0Wi commented on #1
Sounds interesting. Migrating towards the new viewer version shouldn't be too hard. But i don't have any VR180 data. If i upgrade the component would you test the new app version?

[2021-05-16 22:55] poVoq commented on #1
Yes I have some VR180 images from the DaydreamVR camera that I can share as test material.

[2021-05-17 05:42] R0Wi commented on #1
Ok sounds good to me 👍 I added this to my ToDo list and will inform you on any news

[2021-05-17 20:13] lftsy commented on #72
Official app files_photospheres 1.21.1 reinstalled from app store and I am not able to reproduce the problem anymore / yet
Thank you very much for the fix !

Best Regards

[2021-05-18 16:16] R0Wi commented on #1
@poVoq i implemented the update. If you like you can test it by manually installing the app from https://github.com/nextcloud/files_photospheres/suites/2770953847/artifacts/61382672 (first unzip and then untar the `files_photospheres` folder into you NC `apps` folder).

Would be happy to get some feedback :+1:

[2021-05-18 18:10] Githopp192 commented on #72
yes, seems to be fixed. Thx for fixing.

[2021-05-18 21:42] poVoq commented on #1
![20181111-114246129 vr](https://user-images.githubusercontent.com/940360/118727177-e62be500-b821-11eb-8101-a2b813cfcf58.jpg)
I'll try in a bit, but this photo was taken with the DaydreamVR camera and you can use it to test.

[2021-05-30 14:38] cloo opened #75 "How to use Markers?"
There is a Markers button and Markers list panel in the app, but is totally unclear how they work. Is it somehow possible to add marker data in image file's XMP data? Or do you need to add an external file with markers data?

![210530-173217](https://user-images.githubusercontent.com/651760/120108423-b8be3000-c16d-11eb-8cd5-848d005314b5.png)

Could you add a line or two in the docs please?

[2021-05-31 09:48] R0Wi commented on #75
HI @cloo , the markers feature is something embedded into the [`photo-sphere-viewer.js`](https://photo-sphere-viewer.js.org/) library and has to be activated by an additional plugin (https://photo-sphere-viewer.js.org/plugins/plugin-markers.html). Currently this is not supported by the app since markers data has to be stored and managed somewhere which might become quite a big new feature.

If you

[2021-05-31 10:00] R0Wi commented on #75
Update: with the new version of `photo-sphere-viewer.js` (might be added in https://github.com/nextcloud/files_photospheres/issues/1) the markers button won't show until we explicitly enable the feature.

[2021-05-31 10:06] cloo commented on #75
Thanks @R0Wi !

My use-case would have been simple. I use 360 panoramas for documenting spaces I later create designs for, and sometimes for documenting my designs in those spaces. And sometimes I share folders with panaoramas with my clients and coworkers.
Nextcloud is my main working platform, so opening pictures one-by-one is a little cumbersome, and at the same time I usually have to remember,

[2021-05-31 10:07] #75 closed

[2021-05-31 16:17] R0Wi commented on #1
@poVoq i have some news: seems like your sample can be correctly shown inside the app. The problem in your sample is, that it's missing the mandatory `GPano:ProjectionType` attribute (see https://developers.google.com/vr/reference/cardboard-camera-vr-photo-format). It also doesn't contain the `GPano:UsePanoramaViewer` metadata so currently the image will be opened inside the regular image viewer.

[2021-05-31 17:02] poVoq commented on #1
Yes strait from the camera, and I now double checked if Github might have stripped some metadata, which doesn't seem to be the case.

This is quite odd, as the Lenovo Daydream camera is pretty much the reference implementation for the VR180 format. I don't think any other such cameras were ever produced.

[2021-05-31 17:46] R0Wi commented on #1
Unfortunately i cannot find any specs for this format. Nevertheless we'd need a clear decision if the `jpg` file to be shown is a VR180 or not. I think we need further investigation in the metadata of this format.

[2021-05-31 19:24] poVoq commented on #1
This seems to have some details on the format: https://github.com/google/spatial-media/blob/master/docs/vr180.md

[2021-06-01 09:40] R0Wi commented on #1
I did some research and regarding to the specs i found [here](https://developers.google.com/vr/reference/cardboard-camera-vr-photo-format), the `GImage:Mime` type should always be set in VR180 files. It's also set in your sample and in the samples provided [here](https://github.com/imrivera/google-photos-vr180-test). So i changed the backend logic to signalize files which contain the `GImage:Mime=

[2021-06-07 17:34] AlviseNicoletti opened #78 "360 Video?"
Do someone know of a "360 Video streaming" version?

Can someone help me / address me to the right thread?

[2021-06-07 18:53] R0Wi commented on #78
Hi, you could download a sample 360° video from http://www.marzipano.net/media/video/mercedes-f1-720x360.mp4 for example and store it in your NC instance. Then right click on the file (or use the three point menu button) and choose "View in 360° viewer". You can find additional information in the `README.md`. Does this answer your question?

[2021-06-08 08:00] AlviseNicoletti commented on #78
Thank you so much,
I didn't see this !!

[2021-06-08 10:51] #78 closed

[2021-06-08 12:12] R0Wi commented on #78
You're welcome 😄 Unfortunately the context-menu solution is currently the only way to explicitly open a `.mp4` file in the 360° viewer because otherwise the app will have to decide if the video is a "normal" video or a 360° one. Didn't manage to distinct this on files metadata, yet 😢

[2021-07-08 10:23] elpraga opened #79 "https://apps.nextcloud.com/apps/twofactor_nextcloud_notification"

[2021-07-08 11:10] R0Wi commented on #79
How can we help here? 😄

[2021-07-10 14:14] R0Wi commented on #79
Please provide more information on this. Closing for now.

[2021-07-10 14:14] #79 closed

[2021-09-21 09:14] Thatoo commented on #11
This ferature would be really nice indeed

[2021-12-01 19:34] leonardohlee opened #81 "Please add compatibility with Nextcloud V23"
Please add compatibility with Nextcloud V23

[2021-12-01 22:05] R0Wi commented on #81
Will work on that ASAP 👍

[2021-12-01 23:02] leonardohlee commented on #81
Thank you!!

[2021-12-02 07:18] R0Wi commented on #81
@leonardohlee a first beta version is available at https://github.com/nextcloud/files_photospheres/suites/4529135046/artifacts/121253753 . Could you imagine to test if everything works for you on your NC23 instance?

[2021-12-02 15:31] #81 closed

[2021-12-02 15:39] R0Wi commented on #81
:heavy_check_mark: Tested locally with NC23
:heavy_check_mark:  Released at https://github.com/nextcloud/files_photospheres/releases/tag/v1.23.0. Also published in NC appstore https://apps.nextcloud.com/apps/files_photospheres.
:warning: Please let me know if you encounter any issues. Thanks to all!

[2021-12-02 19:40] leonardohlee commented on #81
Awesome !!

[2021-12-15 15:01] MarkusEder opened #83 "Change configuration of Photo Sphere View"
Hi, is ther a way to change config. Parameters of PSV as described here https://photo-sphere-viewer.js.org/guide/config.html#standard-options? I would like to increase the Zoomlevel minVow to 10.

[2021-12-15 17:07] R0Wi commented on #83
Hi, currently the app is using Photo Sphere Viewer `v3`, so i'm not sure if this parameter already exists there and i did not find any docs for version 3 anymore.

Unfortunately it's currently not possible to set any configuration because the app itself does not have any configuration UI nor any backend for that.

[2021-12-17 14:20] MarkusEder commented on #83
THX, so I will wait for further vesions. Anyway it is a nice NC-plugin.

[2021-12-17 14:20] #83 closed

[2022-01-30 16:10] igibek opened #84 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-30 16:41] #84 closed

[2022-01-30 16:43] R0Wi commented on #84
Thanks @igibek , we upgraded the setup-php version to v2 so this is fixed with https://github.com/nextcloud/files_photospheres/commit/b827fe81a315dc174224b084a00a53e526da2b7b

[2022-02-03 18:28] xausy commented on #1
Is there anything new related to the VR switch? I would be happy if I could view 360-degree images directly in the NextCloud with my smartphone and Cardboard. That should be possible with the new version of photo-sphere.
By the way: A great addon!

[2022-02-03 20:19] R0Wi commented on #1
Well i prepared the update to version 4 of photosphere viewer js. Could you imagine testing the new version?

[2022-02-04 11:33] xausy commented on #1
Many thanks for the quick response. I would like to test the new version. But unfortunately I can't manage to install it in my test system.

`git clone --branch feature/update-ppviewer-js4 https://github.com/nextcloud/files_photospheres.git`

The directory is copied and visible.

`chown www-data:www-data -R ./files_photospheres`
No mistakes.

As soon as I call up the frontend again, I get the erro

[2022-02-04 11:48] R0Wi commented on #1
I created a quick package rebased on the current `master` branch

https://github.com/nextcloud/files_photospheres/suites/5178736840/artifacts/157252866

Hope this works, didn't have the time to test it unfortunately :-D

[2022-02-15 11:41] xausy commented on #1
Many thanks for the quick response. Now I was able to install the app and test it with many browsers. It works without any problems.
Unfortunately, the gyro sensor and the VR view / cardboard view do not work. This probably requires activating the GyroscopePlugin and the StereoPlugin from Photo Sphere Viewer.js. Unfortunately, I can't find the specific place in your source code where I can add thi

[2022-02-15 13:51] R0Wi commented on #1
The viewer is created at https://github.com/nextcloud/files_photospheres/blob/911b1dac124c2bf3358772fa25b64d1f7514098c/js/init.js#L28 so i think that would be the correct place.

Currently there are no plugins involved but i could imagine to include some plugins hard-wired as "default" or to make them configurable, maybe?

[2022-02-15 14:11] xausy opened #86 "n"

[2022-02-15 14:23] R0Wi commented on #86
❓

[2022-03-11 12:17] xausy commented on #1
Unfortunately, I still haven't found the place or the code to activate the plugins.
It would be great if they were enabled by default (or configurable). That will be a perfect way using VR mode within NextCloud.
My technical knowhow doesn't seem to be enough for adapting your source code though, unfortunately. So I hope that you will add this soon. Thanks a lot.

[2022-04-09 12:16] #86 closed

[2022-04-09 13:24] R0Wi commented on #1
I updated to the latest photosphere viewer version (4.6) and added the gyroscope and stereo plugins. You can download the app version at https://github.com/nextcloud/files_photospheres/suites/6058044292/artifacts/209044322 (compatible to NC23)

Please note, that you'll have to serve your NC via `https` for this to work (see https://krpano.com/forum/wbb/index.php?page=Thread&threadID=16784)

Feedba

[2022-04-27 12:30] R0Wi commented on #1
@xausy did you already have the possibility to check this out?

[2022-05-03 05:45] elpraga opened #87 "Make the app compatible with NC24"
Please, make the app compatible with NC24.00.

[2022-05-03 05:55] R0Wi commented on #87
I'm working on this already 👍

[2022-05-07 07:31] #87 closed

[2022-05-07 08:09] #1 closed

[2022-05-07 08:44] R0Wi commented on #87
Merged and published to appstore. Looking forward to get your feedback :sunglasses:

[2022-05-07 08:47] elpraga commented on #87
I've just updated to NC24 and can confirm that the app works as expected. Thank you, @R0Wi !

[2022-05-07 08:47] R0Wi commented on #1
New viewer version integrated in [`v1.23.1`](https://github.com/nextcloud/files_photospheres/releases/tag/v1.23.1) and [`v1.24.0`](https://github.com/nextcloud/files_photospheres/releases/tag/v1.24.0).

[2022-08-09 21:09] pspitzli opened #90 "File list scrolls / jumps to top when opening viewer"
Steps to reproduce:
1. Enable Photosphere App in your nextcloud instance.
2. Create a folder with some JPGs and PNGs in it so your files view has to scroll
3. Scroll down to a JPG
4. Click on JPG

=> The View scrolls back up to the top thus loosing the previous scrolling position.
This is quite annoying when going through large folders.

See https://github.com/nextcloud/server/issues/33088 for fur

[2022-08-10 04:55] R0Wi commented on #90
Thank's for reporting this. Will try to reproduce it.

In the meantime: does this behaviour occur on every image or are just photosphere image affected?

[2022-08-10 05:11] R0Wi commented on #90
Ok reproduced it. Happens on all kinds of images. Will try to figure out what's happening there.

[2022-08-11 14:37] R0Wi commented on #90
@pspitzli i think i fixed it. Could you try it with the artifact from https://github.com/nextcloud/files_photospheres/suites/7772414911/artifacts/326956734 ?

[2022-08-11 14:52] pspitzli commented on #90
I will try it this evening.

[2022-08-12 08:22] pspitzli commented on #90
The bug is still present.

How did I install the provided bundle:
1. `cd /var/www/nextcloud/apps`
2. `mv files_photospheres ~/files_photospheres.original`
3. `cp -r ~/files_photospheres ./`
4. `sudo systemctl restart php7.4-fpm`

I extracted your bundle into `~/files_photospheres` before doing that.
After that I reloaded my file view in the browser and checked if the bug was fixed.
Unfortunately t

[2022-08-12 08:27] R0Wi commented on #90
Thank's for the feedback. Could you try to clear your browser caches? Could be that the old `.js`-files are still cached there.

[2022-08-12 19:05] pspitzli commented on #90
Nope. Tried it in a fresh private window. Result is still the same. Sorry.

[2022-08-13 08:50] R0Wi commented on #90
My mistake, i gave you a master branch build notthe one of my bugfix branch.

Could you try https://github.com/nextcloud/files_photospheres/suites/7798673424/artifacts/328861905 instead?

[2022-08-13 19:09] pspitzli commented on #90
Yes this build seems to fix the issue. The scroll position is not lost anymore.

[2022-08-14 11:04] #90 closed

[2022-08-14 11:26] R0Wi commented on #90
Closed with `v1.24.1`, thanks @pspitzli for reporting this :rocket:

[2022-09-23 08:12] SKB-CGN commented on #22
Same here.
The app is great, but closing the viewer with ESC is either not available on mobile devices.
A little "X" somewhere would be great.

[2022-09-23 08:14] SKB-CGN commented on #27
This would be really great, if the viewer would change, when swiping through the pictures.

[2022-09-24 10:38] R0Wi commented on #22
Just to mention: a possible workaround wo be to use the "go back" function of your browser. If you're on Android you can use the back arrow button. Don't know how it looks like on iOS/Safari devices but "going back" should be possible :+1:

[2022-09-24 10:40] SKB-CGN commented on #22
Sure, but currently every popup has an "X" to close. The user is used of it.

[2022-09-28 09:58] SKB-CGN commented on #22
Hi, just got an update for the app 1.24.2 but there is still no closing button. As i understand, it should appear in top right corner, right?

[2022-09-28 11:34] R0Wi commented on #22
Yes, should be included in `1.24.2`. Just a first guess: could you try to clear your browsers cache, please?

[2022-09-28 11:41] SKB-CGN commented on #22
Did it. I found out, that the button is only appearing when entering fullscreen mode and leaving it. After that, the button is visible. I think, it should be visible directly after opening the picture, right?

Picture opened:
![2022-09-28 13_40_40-Posteingang - stephan kreyenborg@intl att com - Outlook](https://user-images.githubusercontent.com/58603329/192770029-cd7b58b3-95a4-4c43-ae84-cbc76ece65

[2022-09-28 13:27] R0Wi commented on #22
Yes, you're of course correct. Will try to reproduce this, currently I'm not really sure what the problem could be.

By "fullscreen mode" you mean the fullscreen mode from the photosphere viewer library at the bottom bar, right? Not the one of your browser?

[2022-09-28 13:29] SKB-CGN commented on #22
Yes, i mean the buttons on the below right corner.

![2022-09-28 15_28_50-Posteingang - stephan kreyenborg@intl att com - Outlook](https://user-images.githubusercontent.com/58603329/192791203-198d9b75-cc54-4d76-a49c-bb9965753afc.png)

[2022-09-30 15:51] R0Wi commented on #22
Sorry but I cannot reproduce the issue. If I open a panorama image, the button is displayed as expected. When going into fullscreen mode, the button disappears but I think that's kind of "normal"?

[2022-09-30 16:07] SKB-CGN commented on #22
Yes, that should be the normal behavior.

On my side, the button is only visible after entering and exiting the full screen - not directly after opening the 360 deg image.

[2022-10-09 12:28] R0Wi commented on #22
Hi @SKB-CGN , I can now reproduce the behaviour you mentioned. Don't know why but this did not happen on my dev machine.

I'll try to find a stable solution. Would you volunteer to test a new version before I release it to the AppStore?

[2022-10-09 12:30] SKB-CGN commented on #22
Great.
Sure, just let me know, how I would be able to test it.

Thanks!

[2022-10-24 12:19] SKB-CGN commented on #22
Sorry, this took a while.

I have installed the mentioned version. This one is working as expected. The button is displayed directly while loading - so the users is also able to cancel opening the picture while loading.

Thanks!

[2022-10-24 12:33] R0Wi commented on #22
Great, thank's for testing

[2022-11-01 19:10] #22 closed

[2022-11-03 17:17] lukasdietz opened #102 "Stuck on loading screen"
After installing Photo Sphere Viewer directly from the appstore I wanted to open a picture taken with google camera. I have checked the xmp metadata and added UsePanoramaViewer and ProjectionType with the appropriate values.
After clicking on the image the screen got stuck at a white screen with a loading cycle in the middle.

Nextcloud 24.0.6
Photosphere 1.25.1

Is this a known behaviour or is th

[2022-11-03 17:22] R0Wi commented on #102
That's no known behaviour. You should use the app version 1.24.X with NC 24 but that shouldn't make any difference. Could you provide some browser dev console logs and maybe server logs?

[2022-11-03 17:33] lukasdietz commented on #102
I got quite a view warnings and errors when trying to open the picture. These are the errors from dev console:

``̀`
index.js:118 WebSocket connection to 'wss://domain.xyz/push/ws' failed:
(anonymous) @ index.js:118
preview:1          Failed to load resource: the server responded with a status of 404 ()
EditorFactory.js:68 Array(0)length: 0[[Prototype]]: Array(0)
index.js:118 WebSocket connection

[2022-11-03 21:06] R0Wi commented on #102
[code]

Seems like the iframe is blocked where the viewer is embedded.

[2022-11-04 16:41] lukasdietz commented on #102
Don't know what exactly fixed this issue. But changing from nginx webserver to apache2 did the trick.

[2022-11-04 16:41] #102 closed

[2022-11-04 17:08] R0Wi commented on #102
The error most likely occurred because your webserver sent some restriction headers on how iframes are allowed to be embedded. Could be that the nginx default is more restrictive than apache.

Nice that things are working now for you :-)

[2022-11-13 10:10] SKB-CGN opened #103 "Close button with NC 25 again not working"
Hi,
we have had the problem with NC24, that the button was not displayed correctly.

Now the button is behind the user icon and is not click able on mobile.

Think, you need a higher z-index.

[2022-11-13 21:28] #103 closed